.header{
	margin-right: 100px;
	margin-left: 200px;
	height: 50px;
}
.headbox{
	position: relative;
	top: 25px;
}

.header img{
	width: 80px;
	display: inline-block;
}
h1{
	display: inline-block;
	position: relative;
	bottom: 32px;
	margin-left: 15px;
}
.navi{
	float: right;
}
.navi ul li{
	display: inline;
	padding: 20px;
}
.navi ul li a{
	text-decoration:none;
}
.main{
	background-color: #EEEEEE;
	margin: auto;
	height: 510px;
	
}
.center{
	width: 500px;
	height: 450px;
	margin: auto;
	background-color: white;
	position: relative;
	top: 30px;
	

}
.center h2{
	position: relative;
	top: 40px;
	color: #BBBBBB;
	border-bottom: 2px solid #BBBBBB;
	margin: 80px;
	margin-bottom:110px; 
	text-align: center;
	padding-bottom: 10px;
}