#myMes{
	color: #EA0F2D;
}
.main p{
	width: 800px;
	padding-bottom: 10px;
	border-bottom: solid 1px black;

} 
.personalMes{
	height: 80px;
	width: 800px;
	border-bottom: solid 1px #BABABA;
}
#submit{
	height: 30px;
	width: 100px;
	background-color: #EA0F2D;
	border:#EA0F2D;
	border-radius: 8px;
	margin: 10px;
	margin-top: 20px;
	color: white;
}
#changeImage img{
	width: 70px;
	
}
#changeImage a{
	position: relative;
	bottom: 25px;
	text-decoration: none;
	color: black;
	margin-left: 20px;
}
.personalMes h4{
	font-size: 15px;
	margin-top: 30px;
	display: inline-block;

}
.personalMes span{
	margin-left: 50px;
}
#nickName input{
	margin-left: 90px;
	height: 30px;
	width: 200px;
	border:solid #BFCBD9 1px;
	border-radius: 4px;
}
#inputSex{
	display: inline-block;
	margin-left: 90px;
}